<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Pharmacy Management Process System" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=no,initial-scale=1.0"
    />
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/style/admin/admin-navbar.css" />
    <link rel="stylesheet" href="/style/admin/sidemenu.css" />
    <link rel="stylesheet" href="/style/admin/product-nav.css" />
    <link rel="stylesheet" href="/style/admin/productinfo.css" />
    <link rel="stylesheet" href="/style/admin/addproduct.css" />
    <link rel="stylesheet" href="/style/admin/productlistprint.css" />
    <link rel="stylesheet" href="/style/stock_in_entry/stock_in_entry.css" />
    <link rel="stylesheet" href="/style/stock_in_entry/stock_product.css" />
    <link rel="stylesheet" href="/style/stock_in_history/stock_in_history.css" />
    <link rel="stylesheet" href="/style/stock_in_history/product_stock_status.css" />
    <link rel="stylesheet" href="/style/stock_in_history/PullOutProductHistory.css" />
    <link rel="stylesheet" href="/style/stock_in_history/vat.css" />
    <link rel="stylesheet" href="/style/stock_in_entry/staff.css" />
    <link rel="stylesheet" href="/style/stock_in_entry/adminAccount.css" />
    <link rel="stylesheet" href="/style/sales/customerAccount.css" />
    <link rel="stylesheet" href="/style/sales/sales.css" />
    <link rel="stylesheet" href="/style/stock_in_history/discount.css" />
    <link rel="stylesheet" href="/style/staff/admin_staffproduct.css" />
    <link rel="stylesheet" href="/style/staff/admin_staffreceipt.css" />
    <link href="/toastnotification/toastr.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://kit.fontawesome.com/a3220d4144.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
    <script src="/toastnotification/toastr.min.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyBC2Gsc1PoLx_gz2xJYrLfl_JIDJZQH_yg",
        authDomain: "pmps-257ba.firebaseapp.com",
        projectId: "pmps-257ba",
        storageBucket: "pmps-257ba.appspot.com",
        messagingSenderId: "508613797048",
        appId: "1:508613797048:web:94b732f1deadac1fd2c04d",
        measurementId: "G-9818L4J8FV",
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
      const firestore = firebase.firestore();
      firestore.settings({ timestampsInSnapshots: true });
    </script>
    <script src="/javascript/admin/GetAllProduct.js"></script>
    <title>PMPS</title>
  </head>
  <body>
    <div class="navbar">
        <div class="nav-div1">
            <button class="sidemenu">
                <img width="25rem" height="25rem" src="/image/menu.png" />
            </button>
            <p class="title">PMPS Admin</p>
        </div>
        <div class="nav-div2">
            <p class="category-active">PRODUCT INVENTORY</p>
        </div>
        <div class="nav-div3">
            <div>
            </div>
            <div class="date-time">
                <div class="date">
                    <span class="month">4 /</span>
                    <span class="day">9 /</span>
                    <span class="year"> 2021</span>
                </div>
                <div class="time">
                    <span class="hour">08:</span>
                    <span class="minutes">58:</span>
                    <span class="seconds">54</span>
                    <span class="period"> AM</span>
                </div>
            </div>
        </div>    
    </div>

    <div class="div-sidemenu">
      <div class="div1-sidemenu">
        <img width="100rem" heigth="100rem" src="/image/biglogo.png"/>
      </div>
      <div class="div2-sidemenu">
        <nav>
          <ul>
            <li>
              <a class="link-product">Product Inventory
                <span class="fas fa-caret-down first"></span>
              </a>
              <ul class="show-product">
                <li><a class="product_list">Product List</a></li>
                <li><a  class="stock_in_entry">Stock In Entry</a></li>
                <li><a class="stock_in_history">Stock In History</a></li>
                <li><a class="product_stock_status">Product Stock Status</a></li>
                <li><a class="pull_out_product">Pull Out Product History</a></li>
                <li><a class="discountvat">Vat and Discount</a></li>
              </ul>
            </li>
            <li>
              <a class="link-account">Manage Account
                <span class="fas fa-caret-down second"></span>
              </a>
              <ul class="show-account">
                <li><a class="staff_account">Staff Account</a></li>
                <li><a class="admin_account">Admin Account</a></li>
              </ul>
            </li>
            <li>
              <a class="link-sales">Sales
                <span class="fas fa-caret-down third"></span>
              </a>
              <ul class="show-sales">
                <li><a class="sales_dashboard">Sales Dashboard</a></li>
                <li><a class="product_sold">Product Sold</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="div3-sidemenu">
        <button class="logout">
          <img width="50rem" heigth="50rem" src="/image/logout.png" class="logoutpic" />
          <p class="logouttext">LOGOUT</p>
        </button>
      </div>
    </div>

    <div class="div-function div-ProductList">
        <div class="controlbox">
          <div class="category-title">
            <p class="categorytext"></p>
          </div>
          <div class="category-function">
            <div class="div-search">
              <div class="searchicon">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              </div>
            <input type="text" placeholder="Search Product" class="productsearch" />
            </div>
            <div class="div-category">
              <select class="category">
                <option value="All">All</option>
              </select>
            </div>
            <div class="div-button">
              <button class="addbtn">ADD PRODUCT</button>
              <button class="pullbtn">PULL OUT EXPIRED</button>
              <button class="printbtn">GENERATE REPORT</button>
            </div>
          </div>
        </div>
        <div class="product-table">
        </div>
        <div class="product-info">
          <div class="viewinfo">
            <div class="controlbox-info">
              <div class="productcode">
                <p class="productcode-data"></p>
              </div>
              <div class="button-info">
                <button class="editbtn-info">
                  <img src="/image/edit.png" width="30rem" height="30rem"/>
                </button>
                <button class="closebtn-info">
                  <img src="/image/close.png" width="30rem" height="30rem"/>
                </button>
              </div>
            </div>
            <div class="productdata-info">
              <div class="image-info">
                <img class="productdata-image" width="150rem" height="150rem" />
              </div>
              <div class="product-data">
                <div class="div-productdata">
                  <p class="productdata">ProductName:</p>
                  <p class="productdata-name datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Category:</p>
                  <p class="productdata-category datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">BrandName:</p>
                  <p class="productdata-brandname datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Formulation:</p>
                  <p class="productdata-formulation datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">ExpirationDate:</p>
                  <p class="productdata-expirationdate datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Price:</p>
                  <p class="productdata-price datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Stocks:</p>
                  <p class="productdata-stocks datacss"></p>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Doctor Prescription:</p>
                  <p class="productdata-prescription datacss"></p>
                </div>
              </div>
            </div>
            <div class="productdata-edit">
              <div class="image-info productedit">
                <input type="file" class="uploadimage" />
                <img class="productdata-image productedit-image" id="editimage" width="150rem" height="150rem" />
                <button class="changebtn">Change</button>
              </div>
              <div class="product-data">
                <div class="div-productdata">
                  <p class="productdata">ProductName:</p>
                  <input type="text" class="productdataedit-name datacss" style="text-transform: capitalize;"></input>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Category:</p>
                  <select class="productdataedit-category datacss">
                  </select>
                </div>
                <div class="div-productdata">
                  <p class="productdata">BrandName:</p>
                  <select class="productdataedit-brandname datacss">
                  </select>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Formulation:</p>
                  <input class="productdataedit-formulation datacss" style="text-transform: capitalize;"></input>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Price:</p>
                  <input type="number" pattern="^\d*(\.\d{0,2})?$" class="productdataedit-price datacss"></input>
                </div>
                <div class="div-productdata">
                  <p class="productdata">Doctor Prescription:</p>
                  <select class="productdataedit-prescription datacss">
                    <option value="Required">Required</option>
                    <option value="Not Required">Not Required</option>
                  </select>
                </div>
                <div class="div-productdata savebtn">
                  <button class="productedit-save">SAVE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-addproduct">
          <div class="addproduct-box">
            <div class="AP-controlbox-info">
              <div class="AP-productcode">
                <p class="AP-productcode-data"></p>
              </div>
              <div class="AP-button-info">
                <button class="AP-closebtn-info">
                  <img src="/image/close.png" width="30rem" height="30rem"/>
                </button>
              </div>
            </div>
            <div class="AP-productdata-add">
              <div class="AP-image-info AP-productedit">
                <input type="file" class="AP-uploadimage" />
                <img class="AP-productdata-image" id="AP-editimage" width="150rem" height="150rem" src="/image/upload.png" />
                <button class="uploadbtn">Upload</button>
              </div>
              <div class="AP-product-data">
                <form class="AP-form">
                <div class="AP-div-productdata">
                  <p class="AP-productdata">ProductName:</p>
                  <input type="text" class="AP-productname AP-datacss" required style="text-transform: capitalize;"></input>
                </div>
                <div class="AP-div-productdata">
                  <p class="AP-productdata">Category:</p>
                  <input type="text" class="AP-category AP-datacss" required style="text-transform: capitalize;"></input>
                </div>
                <div class="AP-div-productdata">
                  <p class="AP-productdata">BrandName:</p>
                  <input type="text" class="AP-brandname AP-datacss" required style="text-transform: capitalize;"></input>
                </div>
                <div class="AP-div-productdata">
                  <p class="AP-productdata">Formulation:</p>
                  <input type="text" class="AP-formulation AP-datacss" required style="text-transform: capitalize;"></input>
                </div>
                <div class="AP-div-productdata">
                  <p class="AP-productdata">Doctor Prescription:</p>
                  <select class="AP-prescription AP-datacss" required>
                    <option value="Not Required" selected>Not Required</option>
                    <option value="Required">Required</option>
                  </select>
                </div> 
                <div class="AP-expirationdate_price">
                  <div class="AP-div-productdata">
                    <p class="AP-productdata">ExpirationDate:</p>
                    <input type="text" required class="AP-expirationdate AP-datacss" placeholder="MM/YYYY"></input>
                  </div>
                  <div class="AP-div-productdata">
                    <p class="AP-productdata">Price:</p>
                    <input type="number" required pattern="^\d*(\.\d{0,2})?$" class="AP-price AP-datacss"></input>
                  </div>
                </div>
                <div class="AP-stocks_unit">
                  <div class="AP-div-productdata">
                    <p class="AP-productdata">Initial Stocks:</p>
                    <input type="number" required class="AP-stocks AP-datacss"></input>
                  </div>
                  <div class="AP-div-productdata">
                    <p class="AP-productdata">Unit:</p>
                    <input type="text" required class="AP-unit AP-datacss" style="text-transform: lowercase;" />
                  </div>
                </div>
                <div class="AP-div-productdata AP-div-savebtn">
                  <button class="AP-savebtn">ADD PRODUCT</button>
                </div> 
              </form>
              </div>
            </div>
          </div>
        </div>
        <div class="Productlist-div-print">
          <div class="Productlist-print-box">
            <p class="Productlist-print-category-text">Select Category:</p>
            <select class="Productlist-print-category">
              <option value="All">All</option>
            </select>
            <div class="Productlist-print-button">
              <button class="Productlist-printbtn">SAVE</button>
              <button class="Productlist-cancelbtn">CANCEL</button>
          </div>
          </div>
        </div>
    </div>

    <div class="div-function div-StockInEntry">
      <div class="SIE-enterproduct">
        <div class="SIE-title">
            <p>STOCK IN ENTRY</p>
        </div>
        <div class="SIE-controlbox">
          <div class="SIE-p">
            <p>Total Stock Received:</p>
            <p>Date Received:</p>
          </div>
          <div class="SIE-input">
            <p class="SIE-total_stock">0</p>
              <input type="date" required class="SIE-date_received"></input>
          </div>
        </div>
        <div class="SIE-searchbox">
          <div class="searchicon">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          </div>
        <input type="text" placeholder="Search Product" class="SIE-search" />
        </div>
        <div class="SIE-productinformation">
          <p class="SIE-product_information_p">PRODUCT INFORMATION</p>
          <div class="SIE-product">
          </div>
        </div>
        <button class="SIE-viewtablebtn">VIEW STOCK IN TABLE</button>
      </div>
      <div class="SIE-producttable">
        <div class="SIE-table_title">
          <p>STOCK IN PRODUCT LIST</p>
          <button class="SIE-backbtn" >
            <img src="/image/close.png" width="20rem" height="20rem" />
          </button>
        </div>
        <div class="SIE-productlist_table">
          <table class="SIE-product_table">
            <tr>
              <th>Code</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Brand Name</th>
              <th>Stock</th>
              <th>Button</th>
            </tr>
          </table>
        </div>
        <div class="SIE-button">
          <button class="SIE-savebtn">SAVE STOCK IN ENTRY</button>
          <button class="SIE-cancelbtn">CANCEL STOCK IN ENTRY</button>
        </div>
      </div>
    </div>

    <div class="div-function div-StockInHistory">
      <div class="controlbox">
        <div class="category-title">
          <p class="categorytext"></p>
        </div>
        <div class="SIH-category-function">
          <div class="SIH-div-stock_received">
            <p class="SIH-p-stock_received">Total Stocks Received:</p>
            <p class="SIH-stock_received">0</p>
          </div>
          <div class="SIH-div-date_received">
            <p class="SIH-p-date_received">Date Received:</p>
            <input type="date" class="SIH-date_received"/>
          </div> 
          <div class="SIH-div-button">
            <button class="SIH-generatebtn">GENERATE REPORT</button>
          </div>
        </div>
      </div>
      <div class="SIH-div-table">
        <div class="SIH-div-table_content">
          <table class="SIH-table">
            <tr>
              <th>Code</th>
              <th>Productname</th>
              <th>Category</th>
              <th>Brandname</th>
              <th>Formulation</th>
              <th>Stocks</th>
              <th>Date Received</th>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="div-function div-ProductStockStatus">
      <div class="controlbox PSS-controlbox">
        <div class="PSS-searchStatus">
          <p class="categorytext PSS-categorytext"></p>
          <div class="PSS-div-status">
            <div class="PSS-statusSelect">
              <p>Status:</p>
              <select class="PSS-status">
                <option value="Total Stocks Per Product">Total Stocks Per Product</option>
                <option value="Low In Stocks">Low In Stocks</option>
                <option value="Out Of Stocks">Out Of Stocks</option>
                <option value="Expired">Expired</option>
              </select>
            </div>
            <div class="PSS-statusButtons">
              <button class="PSS-generatebtn">GENERATE REPORT</button>
              <button class="PSS-removebtn" disabled="disabled">REMOVE ALL EXPIRED PRODUCT</button>
            </div>
          </div>
          <div class="PSS-div-search">
            <div class="searchicon PSS-searchicon">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            </div>
          <input type="text" placeholder="Search Product" class="PSS-search" />
          </div>
        </div>
        <div class="PSS-productStatus">
          <div class="PSS-productStatus-title">
            <p>Product Status</p>
          </div>
          <div class="PSS-productStatus-number">
            <div class="PSS-status-p">
              <p>Expired:</p>
              <p>Low In Stocks:</p>
              <p>Out Of Stocks:</p>
            </div>
            <div class="PSS-status-number">
              <p class="PSS-expired">0</p>
              <p class="PSS-low_stocks">0</p>
              <p class="PSS-out_stocks">0</p>
            </div>
          </div>
        </div>  
      </div>
      <div class="PSS-div-table">
        <div class="PSS-div-table_content">
          <table class="PSS-table">
            <tr>
              <th>Code</th>
              <th>Productname</th>
              <th>Category</th>
              <th>Brandname</th>
              <th>Formulation</th>
              <th>Price</th>
              <th>Stocks</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="div-function div-PullOutProductHistory">
      <div class="controlbox PPH-controlbox">
        <p class="categorytext PPH-categorytext"></p>
        <div class="PPH-function">
          <div class="PPH-div-search">
            <div class="searchicon PPH-searchicon">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            </div>
          <input type="text" placeholder="Search Product" class="PPH-search" />
          </div>
          <div class="PPH-div-button">
            <button class="PPH-generatebtn">GENERATE REPORT</button>
          </div>
        </div>
      </div>
      <div class="PPH-div-table">
        <div class="PPH-div-table_content">
          <table class="PPH-table">
            <tr>
              <th>Code</th>
              <th>Productname</th>
              <th>Category</th>
              <th>Brandname</th>
              <th>Formulation</th>
              <th>Price</th>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="div-function div-DiscountVat">
      <div class="controlbox Vat-controlbox">
        <p class="categorytext Vat-categorytext"></p>
        <div class="Vat-function">
          <table class="Vat-table">
            <tr>
              <th>Vat Value</th>
              <th>Button</th>
            </tr>
            <tr>
              <td>
                <p class="Vat-pvalue">0</p>
                <input class="Vat-inputvalue" type="number" />
              </td>
              <td>
                <button class="Vat-editbtn">EDIT</button>
                <button class="Vat-savebtn">SAVE</button>
                <button class="Vat-cancelbtn">CANCEL</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="controlbox Vat-controlbox Discount-controlbox">
        <p class="Discount-categorytext">Discount</p>
        <div class="Discount-function">
          <table class="Discount-table">
            <tr>
              <th>Discount</th>
              <th>Value</th>
              <th>Button</th>
            </tr>
            <tr>
              <td>SENIOR</td>
              <td>
                <p class="senior-pvalue">0</p>
                <input class="senior-inputvalue" type="number" />
              </td>
              <td>
                <button class="senior-editbtn">EDIT</button>
                <button class="senior-savebtn">SAVE</button>
                <button class="senior-cancelbtn">CANCEL</button>
              </td>
            </tr>
            <tr>
              <td>PWD</td>
              <td>
                <p class="pwd-pvalue">0</p>
                <input class="pwd-inputvalue" type="number" />
              </td>
              <td>
                <button class="pwd-editbtn">EDIT</button>
                <button class="pwd-savebtn">SAVE</button>
                <button class="pwd-cancelbtn">CANCEL</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="div-function div-StaffAccount">
      <div class="controlbox SA-controlbox">
        <p class="categorytext SA-categorytext"></p>
        <div class="SA-functions">
          <div class="SA-div-search">
            <div class="searchicon SA-searchicon">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            </div>
          <input type="text" placeholder="Search Account" class="SA-search" />
          </div>
          <div class="SA-div-SelectActive">
            <p class="SA-pStatus">Account Status:</p>
            <select class="SA-AccountStatus">
              <option value="ACTIVE">ACTIVE</option>
              <option value="DEACTIVATED">DEACTIVATED</option>
            </select>
          </div>
          <div class="SA-div-Button">
            <button class="SA-createbtn">CREATE NEW ACCOUNT</button>
          </div>
        </div>
      </div>
      <div class="SA-div-table">
        <div class="SA-div-table_content">
          <table class="SA-table">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Sex</th>
              <th>Email</th>
              <th>Button</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="SA-div-CreateAccount">
        <div class="SA-div-AccountBox">
          <div class="SA-div-AccountTitle"> 
            <p class="SA-ptitle">CREATE NEW STAFF ACCOUNT</p>
            <button class="SA-closebtn">
              <img src="/image/close.png" width="30rem" height="30rem"/>
            </button>
          </div>
          <div class="SA-accountFunction">
            <form class="SA-createForm">
            <div class="SA-div-firstname">
              <p class="SA-pfirstname">FIRST NAME</p>
              <input type="text" class="SA-firstname" placeholder="FIRST NAME" style="text-transform: capitalize;" required />
            </div>
            <div class="SA-div-lastname">
              <p class="SA-plastname">LAST NAME</p>
              <input type="text" class="SA-lastname" placeholder="LAST NAME" style="text-transform: capitalize;" required />
            </div>
            <div class="SA-div-sex">
              <p class="SA-psex">SEX</p>
              <select class="SA-sex">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
              </select>
            </div>
            <div class="SA-div-email">
              <p class="SA-pemail">EMAIL</p>
              <input type="email" class="SA-email" placeholder="EMAIL" oninvalid="this.setCustomValidity('Please Enter valid email')"
              oninput="setCustomValidity('')" required />
            </div>
            <div class="SA-div-username">
              <p class="SA-pusername">USERNAME</p>
              <input type="text" class="SA-username" placeholder="USERNAME" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="SA-div-password">
              <p class="SA-ppassword">PASSWORD</p>
              <input type="password" class="SA-password" placeholder="PASSWORD" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="SA-div-confirmpassword">
              <p class="SA-pconfirmpassword">CONFIRM PASSWORD</p>
              <input type="password" class="SA-confirmpassword" placeholder="CONFIRM PASSWORD" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="SA-AccountButtons">
              <button type="submit" class="SA-savebtn">SAVE</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="div-function div-AdminAccount">
      <div class="controlbox AA-controlbox">
        <p class="categorytext AA-categorytext"></p>
        <div class="AA-functions">
          <form class="AA-updateAccount">
            <div class="AA-div-username">
              <p class="AA-pusername">USERNAME</p>
              <input type="text" class="AA-username" placeholder="USERNAME" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="AA-div-password">
              <p class="AA-ppassword">PASSWORD</p>
              <input type="password" class="AA-password" placeholder="PASSWORD" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="AA-div-confirmpassword">
              <p class="AA-pconfirmpassword">CONFIRM PASSWORD</p>
              <input type="password" class="AA-confirmpassword" placeholder="CONFIRM PASSWORD" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="AA-AccountButtons">
              <button type="submit" class="AA-savebtn">UPDATE</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="div-function div-CustomerAccount">
      <div class="controlbox CA-controlbox">
        <p class="categorytext CA-categorytext"></p>
        <div class="CA-functions">
          <div class="CA-div-search">
            <div class="searchicon CA-searchicon">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
            </div>
          <input type="text" placeholder="Search Account" class="CA-search" />
          </div>
          <div class="CA-div-SelectActive">
            <p class="CA-pStatus">Account Status:</p>
            <select class="CA-AccountStatus">
              <option value="ACTIVE">ACTIVE</option>
              <option value="DEACTIVATED">DEACTIVATED</option>
            </select>
          </div>
        </div>
      </div>
      <div class="CA-div-table">
        <div class="CA-div-table_content">
          <table class="CA-table">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Contact No</th>
              <th>Email</th>
              <th>Button</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="CA-div-CreateAccount">
        <div class="CA-div-AccountBox">
          <div class="CA-div-AccountTitle"> 
            <p class="CA-ptitle">EDIT CUSTOMER ACCOUNT</p>
            <button class="CA-closebtn">
              <img src="/image/close.png" width="30rem" height="30rem"/>
            </button>
          </div>
          <div class="CA-accountFunction">
            <form class="CA-createForm">
            <div class="CA-div-firstname">
              <p class="CA-pfirstname">FIRST NAME</p>
              <input type="text" class="CA-firstname" placeholder="FIRST NAME" style="text-transform: capitalize;" required />
            </div>
            <div class="CA-div-lastname">
              <p class="CA-plastname">LAST NAME</p>
              <input type="text" class="CA-lastname" placeholder="LAST NAME" style="text-transform: capitalize;" required />
            </div>
            <div class="CA-div-ContactNo">
              <p class="CA-pContactNo">Contact No</p>
              <input type="number" class="CA-ContactNo" placeholder="CONTACT NUMBER" minlength="11" oninvalid="this.setCustomValidity('Please Enter 11 digit Contact No')"
              oninput="setCustomValidity('')" required />
            </div>
            <div class="CA-div-email">
              <p class="CA-pemail">EMAIL</p>
              <input type="email" class="CA-email" placeholder="EMAIL" oninvalid="this.setCustomValidity('Please Enter valid email')"
              oninput="setCustomValidity('')" required />
            </div>
            <div class="CA-div-password">
              <p class="CA-ppassword">PASSWORD</p>
              <input type="password" class="CA-password" placeholder="PASSWORD" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="CA-div-confirmpassword">
              <p class="CA-pconfirmpassword">CONFIRM PASSWORD</p>
              <input type="password" class="CA-confirmpassword" placeholder="CONFIRM PASSWORD" required minlength="4" oninvalid="this.setCustomValidity('Please Enter Atleast 4 Characters')"
              oninput="setCustomValidity('')" />
            </div>
            <div class="CA-AccountButtons">
              <button type="submit" class="CA-savebtn">SAVE</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="div-function div-SalesDashboard">
      <div class="controlbox SD-controlbox">
        <p class="categorytext SD-categorytext"></p>
        <div class="SD-div-salesfunction">
          <div class="SD-div-totalSales">
            <div class="SD-div-ptransactionNo">
              <p class="SD-ptotaltransactionNo">Number Of Transaction</p>
              <p class="SD-totaltransactionNo">0</p>
            </div>
            <div class="SD-div-ptotalSales">
              <p class="SD-ptotalSales">Total Sales</p>
              <p class="SD-totalSales">0.00</p>
            </div>
          </div>
          <div class="SD-functions">
            <div class="SD-div-date">
              <p class="SD-pdate">Select Date:</p>
              <input type="date" class="SD-date"/>
            </div>
            <div class="SD-div-buttons">
                <button class="SD-daily">
                  <img src="/image/daily.png" width="30rem" height="30rem" />
                  <p class="SD-pdaily">DAILY SALES</p>
                </button>
                <button class="SD-weekly">
                  <img src="/image/weekly.png" width="30rem" height="30rem" />
                  <p class="SD-pweekly">WEEKLY SALES</p>
                </button>
                <button class="SD-monthly">
                  <img src="/image/monthly.png" width="30rem" height="30rem" />
                  <p class="SD-pmonthly">MONTHLY SALES</p>
                </button>
                <button class="SD-annually">
                  <img src="/image/annually.png" width="30rem" height="30rem" />
                  <p class="SD-pannually">ANNUALLY SALES</p>
                </button>
            </div>
            <div class="SD-div-button">
              <button class="SD-generatebtn">GENERATE REPORT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="SD-div-table">
        <div class="SD-div-table_content">
          <table class="SD-table">
            <tr>
              <th>Transaction ID</th>
              <th>Total Amount</th>
              <th>Cash</th>
              <th>Change</th>
              <th>Staff Name</th>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="div-function div-ProductSold">
      <div class="controlbox PS-controlbox">
        <p class="categorytext PS-categorytext"></p>
        <div class="PS-div-salesfunction">
          <div class="PS-div-totalSales">
            <div class="PS-div-ptransactionNo">
              <p class="PS-ptotaltransactionNo">Product Sold</p>
              <p class="PS-totaltransactionNo">0</p>
            </div>
            <div class="PS-div-ptotalSales">
              <p class="PS-ptotalSales">Total Sales</p>
              <p class="PS-totalSales">0.00</p>
            </div>
          </div>
          <div class="PS-functions">
            <div class="PS-div-date">
              <p class="PS-pdate">Select Date:</p>
              <input type="date" class="PS-date"/>
            </div>
            <div class="PS-div-buttons">
                <button class="PS-daily">
                  <img src="/image/daily.png" width="30rem" height="30rem" />
                  <p class="PS-pdaily">DAILY SALES</p>
                </button>
                <button class="PS-weekly">
                  <img src="/image/weekly.png" width="30rem" height="30rem" />
                  <p class="PS-pweekly">WEEKLY SALES</p>
                </button>
                <button class="PS-monthly">
                  <img src="/image/monthly.png" width="30rem" height="30rem" />
                  <p class="PS-pmonthly">MONTHLY SALES</p>
                </button>
                <button class="PS-annually">
                  <img src="/image/annually.png" width="30rem" height="30rem" />
                  <p class="PS-pannually">ANNUALLY SALES</p>
                </button>
            </div>
            <div class="PS-div-button">
              <button class="PS-generatebtn">GENERATE REPORT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="PS-div-table">
        <div class="PS-div-table_content">
          <table class="PS-table">
            <tr>
              <th>Product Name</th>
              <th>Formulation</th>
              <th>Quantity</th>
              <th>Total Amount</th>
              <th>Date</th>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script src="/javascript/admin/datetime.js"></script>
    <script src="/javascript/admin/sidemenu.js"></script>
    <script src="/javascript/admin/productlist.js"></script>
    <script src="/javascript/admin/addproduct.js"></script>
    <script src="/javascript/admin/pull_out.js"></script>
    <script src="/javascript/stock_in_entry/stock.js"></script>
    <script src="/javascript/stock_in_entry/stock_history.js"></script>
    <script src="/javascript/stock_in_entry/product_stock_status.js"></script>
    <script src="/javascript/stock_in_entry/PullOutProductHistory.js"></script>
    <script src="/javascript/stock_in_entry/vat.js"></script>
    <script src="/javascript/stock_in_entry/staff.js"></script>
    <script src="/javascript/stock_in_entry/adminAccount.js"></script>
    <script src="/javascript/sales/customerAccount.js"></script>
    <script src="/javascript/sales/sales.js"></script>
    <script src="/javascript/stock_in_entry/discount.js"></script>
    <script src="/javascript/staff/admin_staffproduct.js"></script>
  </body>
</html>
  